<header>

    <section class="container-fluid vaner">
        <div class="row justify-content-center">
            <article class="navbar">
                <h1 class="titulo"><img src="../images/articulo2.jpg" id="img1">Vive Al Extremo Snowboard</h1>
            </article>
        </div>
        <div lass="row">
            <article class="row justify-content-center">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="/views/index.handlebars" id="nav1">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#deporte" id="nav1">Deporte</a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link" href="#nosotro" id="nav1">Nostros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#galeria" id="nav1">Galeria</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#contacto" d="nav1">Contacto</a>
                    </li>
                </ul>
            </article>
        </div>
    </section>

</header>